.carousel-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: visible;
}

.carousel-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 1.3rem;
  color: #4158d0;
  animation: blink 1s infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

.carousel-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120vw;
}

.carousel-track {
  width: 70%;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  width: 200px;
  transition: transform 0.5s ease, z-index 0s;
  position: relative;

  &.active {
    z-index: 10;
  }
}

.carousel-button {
  background-color: #4158d0;
  color: #ffcc70;
  border: none;
  border-radius: 50%;
  margin: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:hover {
    background-color: #c850c0;
  }
}

.carousel-dots {
  text-align: center;
  margin-top: 15px;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: #ffcc70;
    }
  }
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .active & {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  }
}

.empty {
  text-align: center;
  font-size: 1.8rem;
}
