<div class="carousel-container">
    <div *ngIf="isLoading" class="carousel-loader">
        <p>Loading...</p>
    </div>

    <div *ngIf="!isLoading && items.length === 0" class="empty">
        <p>No items have been created yet</p>
    </div>

    <div *ngIf="!isLoading" class="carousel-button-container">
        <fa-icon class="carousel-button prev" (click)="prevSlide()" [icon]="faChevronLeft"></fa-icon>

        <div class="carousel-track">
            <div class="carousel-slides" [style.transform]="getCarouselTransform()">
                <div class="carousel-slide" *ngFor="let item of items; let i = index"
                    [class.active]="i === currentIndex" [style.transform]="getSlideTransform(i)">
                    <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
                </div>
            </div>
        </div>

        <fa-icon class="carousel-button next" (click)="nextSlide()" [icon]="faChevronRight"></fa-icon>

    </div>

    <div class="carousel-dots">
        <span *ngFor="let dot of getDotArray(); let i = index" class="dot" [class.active]="i === currentIndex"
            (click)="goToSlide(i)"></span>
    </div>
</div>