.decks-carousel {
  width: 100% !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.deck-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.card.selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  outline: 3px solid #ffcc70;
  box-shadow: 0 0 15px rgba(31, 31, 31, 0.5);
  padding: 1rem;
  gap: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: flex-end;
}

.remove-icon {
  color: #dc3545;
  cursor: pointer;
  font-size: 1.75rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.cards-section {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
}

.close {
  margin-left: 0.75rem;
  position: sticky;
  top: 0.5rem;
  color: #155724;

  &:hover {
    cursor: pointer;
  }
}

.icon-danger {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  color: #a9111f;

  &:hover {
    cursor: pointer;
  }
}
