.detailed-card-wrap {
  width: auto;
}

.icon {
  margin-right: 0.3rem;
}

.msg {
  max-width: fit-content;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  overflow-wrap: break-word;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
