<div *ngIf="card" class="detailed-card-wrap">
    <button class="btn" (click)="backToCardsList()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        Back to cards list
    </button>

    <h2>Card details</h2>

    <div class="center">
        <div class="card">
            <h3 class="underline">{{ card.name }}</h3>
            <h4>{{ card.value }}</h4>
            <p>{{ card.description }}</p>
        </div>
    </div>

    <form class="edit-form" *ngIf="editMode" (ngSubmit)="onSave()">
        <span class="input-span">
            <label for="name" class="label">Name</label>
            <input type="text" id="name" [(ngModel)]="editedCard.name" name="name" required />
        </span>

        <span class="input-span">
            <label for="description" class="label">Description</label>
            <textarea id="description" [(ngModel)]="editedCard.description" name="description" rows="4"
                required></textarea>
        </span>

        <span class="input-span">
            <label for="value" class="label">Value</label>
            <input type="number" id="value" [(ngModel)]="editedCard.value" name="value" min="0" required />
        </span>

        <div class="action-btns">
            <button class="submit-btn" type="submit">Save</button>
            <button type="button" class="warning-btn" (click)="editMode = false">Cancel</button>
        </div>
    </form>

    <div class="action-btns">
        <button class="warning-btn" (click)="onEdit()" *ngIf="!editMode"><fa-icon class="icon"
                [icon]="faPenSquare"></fa-icon>Update</button>
        <button class="danger-btn" (click)="onDelete()"><fa-icon class="icon" [icon]="faTrash"></fa-icon>Delete</button>
    </div>

    <div class="error-container">
        <div *ngIf="errorMsg" class="text-danger msg">{{ errorMsg }}</div>
    </div>

</div>