<!-- Template HTML du carousel -->
<h2>Cards list</h2>

<div class="justify" *ngIf="!isCreating">
    <button class="submit-btn" (click)="startCreateCard()">New card</button>
</div>

<form class="edit-form" *ngIf="isCreating" (ngSubmit)="onSave()">
    <span class="input-span">
        <label for="name" class="label">Name</label>
        <input type="text" id="name" [(ngModel)]="editedCard.name" name="name" required />
    </span>

    <span class="input-span">
        <label for="description" class="label">Description</label>
        <textarea id="description" [(ngModel)]="editedCard.description" name="description" rows="4" required></textarea>
    </span>

    <span class="input-span">
        <label for="value" class="label">Value</label>
        <input type="number" id="value" [(ngModel)]="editedCard.value" name="value" min="0" required />
    </span>

    <div class="error-container">
        <div *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</div>
    </div>

    <div class="action-btns">
        <button class="submit-btn" type="submit" [disabled]="formInvalid">Save</button>
        <button type="button" class="warning-btn" (click)="cancelCreate()">Cancel</button>
    </div>
</form>



<div *ngIf="!errorMsg && !isCreating && cards.length > 0" class="carousel-container">
    <div class="carousel-button-container">

        <app-carousel [items]="cards">
            <ng-template let-card>
                <div class="card">
                    <a class="underline" [routerLink]="['/layout/cards', card.id]">{{ card.name }} </a>
                </div>
            </ng-template>
        </app-carousel>

    </div>

</div>