<header class="navbar">
    <nav class="left">
        <a routerLink="/layout/cards" routerLinkActive="active" i18n="@@cards">Cards</a>
        <a routerLink="/layout/decks" routerLinkActive="active" i18n="@@decks">Decks</a>
        <a routerLink="/layout/game" routerLinkActive="active" i18n="@@play">Play</a>

    </nav>

    <div class="right">
        <div class="toggle-switch">
            <label class="switch-label">
                <input type="checkbox" class="checkbox" (change)="toggleTheme($event)">
                <span class="slider"></span>
            </label>
        </div>
        <fa-icon [icon]="faArrowRightFromBracket" (click)="logout()" title="Logout" class="logout-icon"></fa-icon>
    </div>
</header>

<router-outlet></router-outlet>