<section class="auth-container">
    <div class="form-box">
        <div>
            <h2>Welcome to your card game</h2>
        </div>

        <form class="form" *ngIf="isLoginView; else registerTemplate">
            <h3>Please login to your account</h3>

            <span class="input-span">
                <label for="form2Example11" class="label">Email</label>
                <input type="text" id="form2Example11" placeholder="Email" />
            </span>

            <span class="input-span">
                <label for="form2Example22" class="label">Password</label>
                <input type="password" id="form2Example22" placeholder="Password" />
            </span>

            <span><a href="#">Forgot password?</a></span>

            <div class="btn-wrap">
                <button class="submit-btn" type="button" (click)="loginUser()">Log in</button>
            </div>

            <span class="justify">Don't have an account?
                <a href="#" (click)="isLoginView = false">Create one</a>
            </span>
        </form>

        <!-- REGISTER FORM -->
        <ng-template #registerTemplate>
            <form class="form">
                <h3>Create your account</h3>

                <span class="input-span">
                    <label for="formRegisterName" class="label">Name</label>
                    <input type="text" id="formRegisterName" placeholder="Name" />
                </span>

                <span class="input-span">
                    <label for="formRegisterLogin" class="label">Email</label>
                    <input type="text" id="formRegisterLogin" placeholder="Email" />
                </span>

                <span class="input-span">
                    <label for="formRegisterPassword" class="label">Password</label>
                    <input type="password" id="formRegisterPassword" placeholder="Password" />
                </span>

                <div class="btn-wrap">
                    <button class="submit-btn" type="button" (click)="registerUser()">Register</button>
                </div>
                <a class="justify" href="#" (click)="isLoginView = true; $event.preventDefault()">Back to login</a>
            </form>
        </ng-template>
    </div>
</section>