<section class="auth-container">
    <div class="form-box">
        <div>
            <h2 i18n="@@welcome">Welcome to your card game</h2>
        </div>

        <form class="form" *ngIf="isLoginView; else registerTemplate">
            <h3 i18n="@@plsLogin">Please login to your account</h3>

            <span class="input-span">
                <label for="Email" class="label">Email</label>
                <input type="text" id="Email" placeholder="Email" [(ngModel)]="userLoginObj.login" name="login"
                    required />
            </span>

            <span class="input-span">
                <label for="Password" class="label" i18n="@@pwd">Password</label>
                <div class="password-container">
                    <input [type]="showLoginPassword ? 'text' : 'password'" id="Password" placeholder="Password"
                        [(ngModel)]="userLoginObj.password" name="password" required />
                    <button type="button" class="eye-btn" (click)="toggleLoginPassword()">
                        <fa-icon [icon]="showLoginPassword ? faEyeSlash : faEye"></fa-icon>
                    </button>
                </div>
            </span>

            <div *ngIf="errorMsg" class="alert error">
                {{ errorMsg }}
            </div>

            <div class="btn-wrap">
                <button class="submit-btn" type="button" (click)="loginUser()" i18n="@@login">Log in</button>
            </div>

            <span class="justify" i18n="@@noAccount">Don't have an account?
                <a href="#" (click)="isLoginView = false">Create one</a>
            </span>
        </form>

        <!-- REGISTER FORM -->
        <ng-template #registerTemplate>
            <form class="form">
                <h3 i18n="@@createAccount">Create your account</h3>

                <span class="input-span">
                    <label for="formRegisterName" class="label" i18n="@@name">Name</label>
                    <input type="text" id="formRegisterName" placeholder="Name" [(ngModel)]="userRegisterObj.name"
                        name="name" />
                    <div *ngIf="validationErrors.name" class="alert error">{{ validationErrors.name }}</div>
                </span>

                <span class="input-span">
                    <label for="formRegisterEmail" class="label">Email</label>
                    <input type="email" id="formRegisterEmail" placeholder="Email" [(ngModel)]="userRegisterObj.login"
                        name="login" maxlength="100" required />
                    <div *ngIf="validationErrors.login" class="alert error">{{ validationErrors.login }}</div>
                </span>

                <span class="input-span">
                    <label for="formRegisterPassword" class="label" i18n="@@pwd">Password</label>
                    <div class="password-container">
                        <input [type]="showRegisterPassword ? 'text' : 'password'" id="formRegisterPassword"
                            placeholder="Password" [(ngModel)]="userRegisterObj.password" name="password" maxlength="20"
                            required />
                        <button type="button" class="eye-btn" (click)="toggleRegisterPassword()">
                            <fa-icon [icon]="showRegisterPassword ? faEyeSlash : faEye"></fa-icon>
                        </button>
                    </div>
                    <div *ngIf="validationErrors.password" class="alert error">{{ validationErrors.password }}</div>

                </span>

                <div *ngIf="errorMsg" class="alert error">
                    {{ errorMsg }}
                </div>

                <div class="btn-wrap">
                    <button class="submit-btn" type="button" (click)="registerUser()"
                        i18n="@@register">Register</button>
                </div>
                <a class="justify" href="#" (click)="isLoginView = true; $event.preventDefault()"
                    i18n="@@backToLogin">Back to login</a>
            </form>
        </ng-template>
    </div>
</section>